<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel = "methods">
    <classes>
      <class name="MVN4.Seven"/>
      <class name="DemoMVN.MavenProject.TestNGDemo1"/>
      <class name="DemoMVN.MavenProject.WebTables"/>
      <class name="MVN2.One"/>
      <class name="MVN5.Eight"/>
      <class name="MVN3.Four"/>
      <class name="MVN4.Six"/>
      <class name="DemoMVN.MavenProject.OrangeHRMLogin"/>
      <class name="MVN2.Three"/>
      <class name="MVN3.Five"/>
      <class name="DemoMVN.MavenProject.Webtables2"/>
      <class name="MVN2.Two"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
